*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* main */
#main {
    background-color: #fff;
    background-image: url(https://static.wattpad.com/img/landing/topRightPortal.svg), url(https://static.wattpad.com/img/landing/bottomLeftPortal.svg);
    background-position: top right, bottom left;
    background-repeat: no-repeat, no-repeat;
    background-size: 250px, 200px;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 32px 220px;
}

#header img {
    height: 28px;
}

#header .language {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#header .language .list_language {
    display: none;
    position: absolute;
    top: 30px;
    left: 18px;
    list-style: none;
    width: 120px;
    background-color: #fafafa;
    box-shadow: 0 -2px 6px rgb(0,0,0,0.3);
    padding: 6px 0;
}

#header .language .list_language::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 12px 10px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -18px;
    left: 12px;
}

#header .language::after {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 14px;
    top: 20px;
    left: 10px;
}

#header .language .list_language li {
    padding: 6px 10px;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

#header .language p {
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0 12px;
}

#header .language:hover .list_language {
    display: block;
}

#header .language i {
    font-size: 18px;
}

#content {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#content .background {
    width: 55%;
    margin: 0 14px;
}

/* form get password */
#content .form.active {
    display: block;
}

#content .form {
    width: 45%;
    height: 350px;
    box-shadow: 0 0px 10px rgb(0,0,0,0.3);
    padding: 30px 22px;
    margin: 0 24px;
    border-radius: 4px;
    display: none;
}

#content .form .title {
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

#content .form .description {
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 20px 0;
    color: #948f8b;
}

#content .form .help {
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 20px 0;
    color: #948f8b;
}

#content .form .help a{
    text-decoration: none;
    font-weight: 600;
}

#content .form .border {
    border-top: 1px solid #948f8b;
}

#content .form .username {
    margin: 20px 0;
    width: 100%;
    padding: 12px 10px;
    border-radius: 6px;
    border: 1px solid #948f8b;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

#content .form .btn_option {
    display: flex;
    justify-content: space-between;
}

#content .form .btn_option .send {
    width: 48%;
    height: 46px;
    border-radius: 100px;
    border: none;
    background-color: #222;
    color: #fafafa;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

#content .form .btn_option .close {
    width: 48%;
    height: 46px;
    border-radius: 100px;
    border: none;
    background-color: #fafafa;
    color: #222;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

/* form login (page get password) */
#content .form_login.active {
    display: block;
}

#content .form_login {
    width: 45%;
    height: 370px;
    box-shadow: 0 0px 10px rgb(0,0,0,0.3);
    padding: 30px 22px;
    margin: 0 24px;
    border-radius: 4px;
    display: none;
}

#content .form_input_login .title,
#content .form_login .title,
#content .form_select_register .title {
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

#content .form_login .main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content .form_login .main .btn_login_fb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 80%;
    border: none;
    border-radius: 100px;
    background-color: #344e86;
    margin-bottom: 12px;
}

#content .form_login .main .btn_login_fb i {
    color: #fff;
    font-size: 24px;
    margin-right: 12px;
}

#content .form_login .main .btn_login_fb p {
    color: #fff;
    font-size: 16px;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
}

#content .form_login .main .btn_login_google {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 80%;
    border: 1px solid #222;
    border-radius: 100px;
    background-color: #fff;
    margin-bottom: 20px;
}

#content .form_login .main .btn_login_google i {
    font-size: 24px;
    margin-right: 12px;
}

#content .form_login .main .btn_login_google p {
    font-size: 16px;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
}

#content .form_login .main .space {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

#content .form_login .main .space .border {
    border-bottom: 1px solid #222;
    width: 140px;
    height: 1px;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
}

#content .form_login .main .space .text {
    font-size: 15px;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 12px;
}

#content .form_login .main .btn_login_default {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 80%;
    border: none;
    border-radius: 100px;
    background-color: #222;
    margin-bottom: 16px;
}

#content .form_login .main .btn_login_default p {
    font-size: 16px;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}

#content .form_login .main .get_password {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 12px;
    color: #222;
}

#content .form_login .footer {
    text-align: center;
    font-size: 14px;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
}

#content .form_login .footer a {
    color: #222;
    font-weight: 600;
}


/* form input login */
#content .form_input_login.active {
    display: block;
}

#content .form_input_login {
    width: 45%;
    height: 415px;
    box-shadow: 0 0px 10px rgb(0,0,0,0.3);
    padding: 30px 22px;
    margin: 0 24px;
    border-radius: 4px;
    display: none;
}

#content .form_input_login .main {

}

#content .form_input_login .main .username {
    
}

#content .form_input_login .main .password {
    position: relative;
}

#content .form_input_login .main .username .text,
#content .form_input_login .main .password .text {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 40px 6px;
}

#content .form_input_login .main .username .input,
#content .form_input_login .main .password .input_password {
    background-color: #fafafa;
    width: 80%;
    margin: 0 40px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 10px;
}

#content .form_input_login .main .password button {
    padding: 10px;
    border: none;
    position: absolute;
    top: 30px;
    right: 48px;
    background-color: #fafafa;
    cursor: pointer;
}

#content .form_input_login .main .login {
    background-color: #222;
    color: #fff;
    width: 80%;
    height: 44px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 16px 40px;
    border-radius: 100px;
}

#content .form_input_login .main .get_password {
    display: block;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 12px;
    color: #222;
    text-align: center;
}

#content .form_input_login .main .back {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    align-items: center;
    cursor: pointer;
}

#content .form_input_login .main .back i {
    font-size: 12px;
}

#content .form_input_login .main .back p {
    font-size: 14px;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
}

#content .form_input_login .footer {
    text-align: center;
    font-size: 14px;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
}

#content .form_input_login .footer a {
    font-weight: 600;
    text-decoration: none;
    color: #222;
}


/* form select register */
#content .form_select_register.active {
    display: block;
}

#content .form_select_register {
    width: 45%;
    height: 370px;
    box-shadow: 0 0px 10px rgb(0,0,0,0.3);
    padding: 30px 22px;
    margin: 0 24px;
    border-radius: 4px;
    display: none;
}

#content .form_select_register .sub_title {
    font-size: 14px;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 40px;
    text-align: center;
}

#content .form_select_register .main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content .form_select_register .main .register_fb {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #344e86;
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 100px;
    margin: 16px 0;
}

#content .form_select_register .main .register_fb i {
    font-size: 20px;
    color: #fafafa;
    margin-right: 10px;
}

#content .form_select_register .main .register_fb p {
    font-size: 16px;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fafafa;
}

#content .form_select_register .main .register_google {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    width: 80%;
    height: 40px;
    border: 1px solid #948f8b;
    border-radius: 100px;
    margin: 0 0 16px;
}

#content .form_select_register .main .register_google i {
    font-size: 20px;
    color: #222;
    margin-right: 10px;
}

#content .form_select_register .main .register_google p {
    font-size: 16px;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    color: #222;
}

#content .form_select_register .main .space {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content .form_select_register .main .space .border {
    border-bottom: 1px solid #948f8b;
    width: 140px;
    height: 1px;
}

#content .form_select_register .main .space .text {
    font-size: 16px;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 12px;
}

#content .form_select_register .main .register_gmail {
    width: 80%;
    height: 40px;
    background-color: #222;
    border-radius: 100px;
    color: #fafafa;
    font-size: 16px;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 8px 0;
}

#content .form_select_register .main p {
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 10px 0;
    font-size: 14px;
}

#content .form_select_register .main p a {
    font-weight: 600;
    color: #222;
}

/* Footer */
#footer {
    background-color: rgba(0,0,0,.367);
    width: 100%;
    height: 68px;
    position: relative;
    top: 144px;
    display: flex;
    justify-content: space-between;
    /* margin: 0 120px; */
}

#footer .list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 140px;
    list-style: none;
    
}

#footer .list li {
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    padding: 0 12px;
    font-weight: 600;
    color: #fafafa;
}

#footer .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0 140px;
}

#footer .icon li {
    font-size: 28px;
    padding: 0 12px;
    color: #fafafa;
}